$app-primary-color-a: #032536;
$app-primary-color-b: #113C51;
$app-primary-color-c: #27556C;
$app-primary-color-d: #477286;
$app-primary-color-e: #6E91A1;

$app-white: #FFFFFF;
$app-light-grey: #FFFFFF;
$app-grey: #FFFFFF;
$app-dark-grey: #444444;
$app-black: #111111;